@import "base";
@import "layout";
@import "skeleton";


.container {
  margin: 0 auto;
}

body{
	background-image: url('/img/vuvu-bg.png');
}

.wrap{
	width: 100%;
	height: 100%;
}

#logo, #vuvu, #link {
  margin: 0 auto;
  text-align: center;
}

#link {
  margin-top: 2em;
}

img {
  max-width: 100%;
}

// larger 420px height
@media screen and (min-height: 420px) {

	#logo{
		height: 120px;
	}

  #vuvu{
		height: 360px;
	}
}

// larger 620px height
@media screen and (min-height: 620px) {

	#logo{
		height: 180px;
	}

	#vuvu{
		height: 420px;
	}
}
