%div.wrap
  %div#logo
    %img{:src => "img/logo.png"}
  %div#vuvu
    %img{:src => "img/vuvu-single.png"}
  %div#link
    %a(href="https://twitter.com/share" class="twitter-share-button" data-size="large")
      Tweet
