<div class"wrap">
%object.logo{:data => "img/logo.svg", :type => "image/svg+xml"}
  %img{:src => "img/logo.png"}
%object.vuvu{:data => "img/vuvu.svg", :type => "image/svg+xml"}
  %img{:src => "img/vuvu-single.png"}